ENVIRONMENT="development"
ALLOW_ORIGINS=""

DB_HOST=""
DB_USERNAME=""
DB_PASSWORD=""
DB_DATABASE=""
DB_PORT=""

SALT=""
TELEGRAM_API_KEY=""
JWT_SESSION_EXPIRES_IN="8h"
JWT_SECRET=""
X_API_KEY=""
WEB_URL="https://www.fartybera.xyz/"
TWITTER_BEARER_TOKEN=
TWITTER_KEY=
TWITTER_SECRET=
DISCORD_API_URL=
DISCORD_SERVER_ID=
